__pycache__
**/__pycache__
*.py[cod]
*.pyo
*.pyd
.Python

.env
.env.*
!.env.example

.venv
venv
ENV

.pytest_cache
htmlcov
.coverage
.mypy_cache
.ruff_cache

data/wiki.db
data/*.db
data/chroma

tests
*.md
.git
.gitignore

alembic/versions
API.md
README.md
SETUP-BACKEND.md
TESTING.md
